.skilltree-card {
    position : absolute;
    z-index : 10;
    width : 260px;
    height: 340px;
    animation: open-card .25s;
}

.skilltree-card--delete {
    animation: close-card .25s;
}

.skilltree-card p {
    font-size: smaller;
}

.close-button {
    float: right;
}

.nav-link {
    font-size: smaller;
    padding: 0.6em 1em;
}

@media screen and (max-width: 600px){
    .skilltree-card {
        position: absolute;
        top:0!important;
        bottom: 0;
        left: 0!important;
        right: 0;
        margin: auto;
        width: 75%;
        max-height: 80%;
        animation: open-card .25s;
    }
    .skilltree-card--delete {
        animation: close-card .25s;
    }
}

@keyframes open-card {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }

@keyframes close-card {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
    }
}